* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
.sidebar {
  height: 100vh;
  width: 220px;
  background: #3d79d3;
  position: fixed;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.content {
  margin-left: 220px;
  width: calc(100%-300px);
}
.links {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.link-items {
  margin: 0.5rem 0;

  font-weight: bold;
  font-size: 1rem;
}

.header {
  margin-left: 220px;
  height: 11vh;
  width: calc(100vh-300px);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  background: rgb(133, 176, 224);
}
.search {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.footer {
  margin-left: 220px;
  height: 11vh;
  width: calc(100vh-300px);
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(133, 176, 224);
}
.site-statistic-demo-card {
  padding: 30px;
  background: #4b4747;
  height: 78vh;
  align-items: center;
  display: flex;
  width: 100%;
}
.header-text {
  color: #ffffff;
}
.ant-card-body {
  padding: 20px !important;
}
.footer-text {
  color: #ffffff;
}
.div-to-center {
  width: 100%;
}
